{% extends "base.html.twig" %}

{% block title %}
    Nos services
{% endblock %}

{% block body %}
<section class="services">
    <div class="about-title relative">
        <h1 id="about-title">Nos services</h1>
    </div>
    <div class="container about">
    {% for service in services %}
        <article class="about-article group">
            <h2>{{ service.title }}</h2>
            {% if service.pictureName %}
                <img src="{{ asset('/images/' ~ service.pictureName)}}"  class="h-full w-full object-cover object-center mb-4 rounded-xl" alt="Image d'illustration du service {{ service.title }}">
            {% endif %}
            {{ service.description|raw }}
        </article>
    {% endfor %}
    </div>
</section>
{% endblock %}