{% extends 'base.html.twig' %}

{% block title %}New ProductPictures{% endblock %}

{% block body %}
    <h1>Create new ProductPictures</h1>

    {{ include('product_pictures/_form.html.twig') }}

    <a href="{{ path('app_product_pictures_index') }}">back to list</a>
{% endblock %}
