{% extends "mail_base.html.twig" %}

{% block emailContent %}
    <h1>Bonjour</h1>

    <p>Pour générer votre mot de passe, merci de suivre ce lien :</p>

    <a href="{{ siteBaseUrl ~ path('app_reset_password', {token: resetToken.token}) }}">{{ siteBaseUrl ~ path('app_reset_password', {token: resetToken.token}) }}</a>

    <p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

    <p>Merci</p>
{% endblock %}
