{% extends "base.html.twig" %}

{% block title %}S'enregistrer sur le site{% endblock %}

{% block body %}
<div class="container">
	<div class="shadow-md sm:rounded-lg mb-5 p-5">
        {% include "customer/_form.html.twig" %}
    </div>
</div>
{% endblock %}