<form method="post" action="{{ path('app_edit_family_delete', {'id': family.id}) }}" onsubmit="return confirm('Attention, vous êtes sur le point de supprimer cette famille, en êtes-vous certain ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ family.id) }}">
    <button class="btn {{ className|default }}">Supprimer</button>
</form>