{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle famille{% endblock %}

{% block body %}
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 ">
		<h1 class="mb-5 p-5 pl-0">Nouvelle famille</h1>
		{{ include('admin/family/_form.html.twig') }}
	</div>
{% endblock %}