<form method="post" action="{{ path('app_edit_delivery_mode_delete', {'id': delivery.id}) }}" onsubmit="return confirm('Attention, vous êtes sur le point de supprimer ce mode de livraison, en êtes-vous certain ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ delivery.id) }}">
	<button class="btn {{ className|default }}">Supprimer</button>
</form>