.custom-wrapper {
    margin: 0;
    padding: 0 1em 1em;
    position: relative;
}

/* Styles for the price input container */
.input-container {
    width: 100%;
}

.filter-feature {
  margin-bottom: 1em;
}

.filter-feature legend {
  text-decoration: underline;
  font-weight: bold;
}

.filter-checkbox {
    padding-left: 1em;
}

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slider-container {
    width: 100%;
}

.slider-container {
    margin-top: 2em;
    height: 6px;
    position: relative;
    background: #e4e4e4;
    border-radius: 5px;
}

.slider-container div {
    height: 100%;
    position: absolute;
    border-radius: 5px;
}

.slider-container .feature-slider {
    background: var(--pink);
}

.slider-container .slider-background {
    left: 0;
    right: 0;
    background-color: #cccccc;
}

.number input {
    position: absolute;
    width: 4em;
    top: -2em;
    height: 2em;
    text-align: center;
    border: none;
    background-color: inherit;
}

.number .min-input {
    left: 0;
}

.number .max-input {
    right: 0;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    background: none;
    top: -5px;
    pointer-events: none;
    cursor: pointer;
    -webkit-appearance: none;
}

/* Styles for the range thumb in WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 70%;
    background: #555;
    pointer-events: auto;
    -webkit-appearance: none;
}

.product-cta.filter-cta {
    --pink: var(--dark);
    margin-bottom: 1em;
}

@media screen and (max-width: 768px) {

    .custom-wrapper {
        width: 100%;
        left: 0;
        padding: 0 10px;
    }
}