<!DOCTYPE html>
<html lang="fr">
    {% include "_partials/_head.html.twig" %}
    <title>Must menager| {% block title %}Connexion{% endblock %}</title>
	</head>
    <body>
        <main id="connexion">
            <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0">
                <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0">
                    <div class="flex items-center justify-center">
                        <a href="{{ path('app_main')}}" class="flex items-center text-2xl font-semibold text-gray-900 dark:text-white" title="Revenir à la page d'accueil">
                            <img class="w-32 h-32 object-contain" src="{{ asset('images/logo_must_en_attendant.png')}}" alt="logo">
                        </a>
                    </div>
                    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                        {% block body %}{% endblock %}
                        <div class="flex justify-between">
                            <a href="{{ path('app_main') }}" class="connect-cta underline font-semibold">Revenir à l'accueil</a>
                            {% if app.request.get('_route') == 'app_customer_login' %}
                                <a href="{{ path('app_customer_sign_up') }}">S'enregistrer</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
