<form method="post" action="{{ path('app_edit_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Attention, vous êtes sur le point de supprimer ce produit, en êtes-vous certain ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
	<button class="btn {{ className|default }}">Supprimer</button>
</form>