{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau produit
{% endblock %}

{% block body %}
	<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 ">
		<h1 class="mb-5 p-5 pl-0">Nouveau produit</h1>
		{% include "admin/product/_form.html.twig" %}
	</div>
{% endblock %}