<form method="post" action="{{ path('app_edit_brand_delete', {'id': brand.id}) }}" onsubmit="return confirm('Attention, vous êtes sur le point de supprimer cette marque, en êtes-vous certain ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ brand.id) }}">
	<button class="btn {{ className|default }}">Supprimer</button>
</form>